@media (max-width: 1400px) {
  .product__item {
    flex-basis: calc(33.33% - 30px);
  }
}
@media (max-width: 1200px) {
  .withdrawals__inner {
    flex-wrap: wrap;
  }
  .withdrawals__col {
    margin: 0 auto;
    max-width: 100%;
  }
  .withdrawals__col + .withdrawals__col {
    margin-top: 30px;
  }
  .page404__404::after {
    right: -3%;
  }
  .page404__404::before {
    right: -3%;
  }
  .product-one__more-icon {
    max-width: 48%;
  }
}

@media (max-width: 1150px) {
  .header__top-text {
    display: none;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer-row__adress {
    margin-bottom: 30px;
    min-width: 100%;
  }
  .setting .tabs-container .tabs-stage {
    width: 100%;
  }
  .settings__info-item {
    display: block;
  }
  .settings__form {
    input {
      width: 100%;
    }
    button {
      margin-left: 10px;
    }
  }
  .settings__form .jq-selectbox {
    width: 100%;
  }
  .settings__info-item + .settings__info-item {
    margin-top: 15px;
  }
  .tab-settings__info {
    margin: 10px;
  }
  .tab-settings {
    min-height: 900px;
  }
  .product-one .product-one__box {
    display: block;
    margin: 30px 0;
  }
  .product-one__socials {
    margin-top: 15px;
  }
  .product-one__inner {
    display: block;
  }
  .aside__item {
    max-width: 100%;
    margin: 15px;
  }
  .autor__awards-list {
    justify-content: flex-start;
    li + li {
      margin-left: 15px;
    }
  }
  .product-one__images-inner {
    margin: 0 auto;
  }
  .product-one__content {
    margin-right: 0;
    max-width: 100%;
  }
  .product__item {
    flex-basis: calc(50% - 30px);
  }
  .autor__tutorials {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    &-item {
      flex-basis: calc(40% - 30px);
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 900px) {
  .page404__404 {
    font-size: 200px;
    line-height: 1;
  }
  .page404__inner {
    padding-right: 0;
  }
  .page404__404::after {
    display: none;
  }
  .page404__404::before {
    display: none;
  }
  .profile__inner {
    flex-direction: column-reverse;
  }
  .profile__content {
    margin-left: 0;
  }
  .aside__item {
    max-width: 100%;
  }
  .aside__socials {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .autor__awards-list {
    justify-content: flex-start;
    li + li {
      margin-left: 5px;
    }
  }
  .profile__aside-link {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a + a {
      margin-left: 15px;
    }
    .following {
      margin-top: 0;
    }
  }
  .tabs-container.settings__container.profile__settings {
    margin-bottom: 0;
  }
  .adventeges__inner {
    display: block;
  }
  .adventeges__item {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .adventeges__title {
    padding: 10px 0 30px;
  }
}

@media (max-width: 840px) {
  .autor__inner {
    max-height: 450px;
  }
  .autor__inner-box {
    max-width: 100%;
  }
  .header__top-logo {
    margin-left: 60px;
  }
  .menu__btn {
    position: absolute;
    top: 36px;
  }
  .nav__menu .menu__list {
    display: none;
    text-align: center;
    &-item {
      margin-right: 0;
      padding: 10px 0;
    }
  }
  .nav__menu {
    .menu__btn {
      display: inline-block;
    }
  }
  .contact__box {
    display: block;
    .contact__info {
      margin-bottom: 30px;
    }
    .item__text,
    .item__title {
      margin-bottom: 10px;
    }
  }
  .contact__form {
    width: auto;
  }

  .profile__content {
    margin-left: 15px;
  }
  .profile__items {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .profile__content {
    margin-left: 0;
  }
}

@media (max-width: 750px) {
  .profile,
  .setting,
  .about,
  .page404,
  .upload,
  .withdrawals {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .footer__content {
    padding: 50px 10px;
  }
  .footer__inner {
    justify-content: flex-start;
  }
  .footer-row__socials {
    min-width: 100%;
    margin-top: 30px;
  }
  .footer-row__menu {
    & + & {
      margin-left: 30px;
    }
  }
  .settings__container {
    display: block;
    .settings__nav {
      max-width: 750px;
      margin-right: 0;
    }
  }
  .setting .tabs-container .tabs-stage {
    margin-top: 20px;
  }
  .contact__map {
    margin-left: 15px;
    margin-right: 15px;
  }
  .contact__box {
    margin: 15px;
  }
  .profile__settings .personal__box {
    margin-left: 0;
    margin-top: 15px;
  }
  .product__btn button {
    display: block;
    width: 100%;
  }
}

@media (max-width: 699px) {
  .product__trend {
    padding: 20px 0 60px;
    .product__item {
      max-width: 100%;
    }
  }
}
@media (max-width: 640px) {
  .adventeges {
    padding: 50px 0 60px;
  }
  .product__item {
    flex-basis: calc(100% - 30px);
  }
  .products__inner-btn {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    button {
      margin-top: 10px;
      flex-basis: calc(33.33% - 5px);
      margin-left: 5px;
    }
  }
  .products {
    padding: 50px 0;
  }
  .title {
    font-size: 27px;
    line-height: 1.2;
  }
  .search__inner-title {
    font-size: 40px;
  }
  .search__inner-text {
    font-size: 15px;
    line-height: 20px;
    padding: 15px 0 25px;
  }
  .notifycation__wrapper,
  .message__wrapper {
    display: none;
  }
  .header__btn-menu {
    display: block;
  }
  .header-box {
    transition: all 1s;
    transform: translateX(350px);
    margin: 0 auto;
    &.active {
      transform: translateX(0);
      position: absolute;
      right: 50px;
    }
  }
  .header__top-logo {
    transition: all 1s;
    transform: translateX(0px);
  }
  .logo-none {
    position: absolute;
    transform: translateX(-350px);
    margin: 0 auto;
  }
  .upload__box {
    .input__line {
      display: block;
      margin: 15px;
    }
    .jq-selectbox,
    .jq-file {
      width: 100%;
    }
    .name {
      margin-bottom: 5px;
    }
    .tab-settings__header {
      margin-bottom: 20px;
    }
    button {
      margin: 0 15px 15px 15px;
    }
  }
  .contact__map iframe {
    height: 250px;
  }
  .profile__settings .personal__box {
    padding: 10px;
  }
  .product-one__title {
    font-size: 25px;
    padding: 25px 0 5px;
    line-height: 1.2;
  }
}

@media (max-width: 550px) {
  .search {
    min-height: 450px;
  }
  .circle__menu {
    right: auto;
    left: -50px;
  }

  .footer__inner {
    justify-content: center;
  }
  .footer__item {
    width: 100%;
  }
  .footer-row__menu {
    & + & {
      margin-left: 0;
      margin-top: 30px;
    }
  }
  .footer-row__socials {
    min-width: 0;
  }
  .footer_copiright {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page404__text {
    padding: 0 10px;
    font-size: 13px;
    line-height: 19px;
  }
  .about__head {
    margin-bottom: 20px;
  }
  .profile__items {
    flex-direction: column;
    text-align: left;
    .profile__item {
      padding-left: 15px;
    }
    .profile__item + .profile__item {
      border-left: none;
      border-top: 1px solid $light-gray;
    }
  }
  .product-one__links {
    a {
      display: block;
      max-width: 231px;
    }
  }
  .product-one .product-one__links a + a {
    margin-left: 0;
    margin-top: 15px;
  }
  .tabs-container .tabs-nav {
    display: block;
    li + li {
      border-left: none;
      border-top: 1px solid $light-gray;
    }
  }
  .tabs-container .stage {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: none;
    li {
      max-width: 100%;
      padding-right: 20px;
      line-height: 1.5;
    }
  }
  .product-one__more-icon {
    max-width: none;
    width: 100%;
  }
  .more__menu-item {
    max-width: 100%;
  }
  .autor__inner-box {
    display: block;
    text-align: center;
    &-title {
      max-width: 100%;
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 440px) {
   #modal{
     overflow-y: hidden;
     padding: 90px 10px 100px;
    .modal-btn{
     .create{
    display: block;
    width: 100%;
    margin-top: 10px;
  }}
}
  .autor-image {
    max-width: 100%;
    img {
      max-width: 300px;
    }
  }
  .autor-text {
    padding: 20px 10px;
  }
  .autor__tutorials {
    &-item {
      flex-basis: calc(100% - 30px);
    }
  }
  .autor__title {
    padding: 30px 0;
    margin-bottom: 0;
  }
  .autor__inner a {
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 20px;
  }
  .adventeges__item {
    margin: 0;
  }
  .products {
    .title {
      margin-bottom: 0;
    }
  }
  .products__bottom-btn {
    margin-top: 20px;
    button {
      width: 100%;
      & + button {
        margin-top: 10px;
      }
    }
  }
  .products__inner-btn {
    width: 100%;
    margin: 10px auto;
    button {
      flex-basis: 100%;
    }
  }
  .product__item-info,
  .product__item-content {
    padding: 10px 15px;
  }
  .search__inner {
    padding: 75px 0 50px;
  }
  .user__inner {
    padding-right: 10px;
    margin-right: 15px;
  }
  .user__info {
    display: none;
  }
  // .header-box{
  //     &.active{
  //         right: 100px;
  //     }
  // }

  .page404__404 {
    font-size: 120px;
  }
  .page404__title {
    font-size: 20px;
  }

  .page404__link {
    margin-top: 20px;
  }
  .page404__inner {
    height: 520px;
  }
  .about__text {
    padding: 0 10px;
  }
  .about__text {
    padding-left: 10px;
  }
  .tab-settings__header {
    font-size: 17px;
    padding: 10px 15px;
  }
  .settings__info-item + .settings__info-item {
    margin-top: 10px;
  }
  .contact__form .contact__form-row {
    display: block;
  }
  .contact__form input + input {
    margin-left: 0;
    margin-top: 12px;
  }
  .contact__form textarea {
    margin-top: 15px;
  }
  .profile__banner {
    display: none;
  }
  .profile__aside-link {
    display: block;
    margin: 0;
    a + a {
      margin-left: 0;
    }
    a {
      margin-bottom: 10px;
    }
    .aside__item {
      padding: 13px 15px;
      margin: 0;
    }
    .product-one__images {
      height: 350px;
      &-inner {
        height: auto;
      }
    }
  }
}

@media (min-width: 840px) {
  .menu__list {
    display: flex !important;
  }
}
