@import "vars";
@import "global";
@import "fonts";

.header__top {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;

  &-text {
    margin-left: auto;
    margin-right: 26px;
    &-link {
      color: $red;
    }
  }
  .header-box {
    display: flex;
    align-items: center;
  }
  &-buttons {
    display: flex;
    // margin-top: 30px;
    align-items: center;
    .btn + .btn {
      margin-left: 8px;
    }
    .login {
      background-color: $green;
      margin-left: 15px;
    }
    .register,
    .logout {
      background-color: $red;
    }
  }
}

.login--off {
  display: none;
}
.logout {
  display: none;
  &.login--on {
    display: block;
  }
}

.header__bottom {
  background-color: $bg-primory;
}

.nav__menu {
  .menu__btn {
    display: none;
    span {
      display: block;
      width: 22px;
      height: 2px;
      background-color: $green;
    }
    span + span {
      margin: 5px 0;
    }
  }
  .menu__list {
    display: flex;
    justify-content: center;
    &-item {
      margin-right: 42px;
      padding: 22px 0;
    }
    a {
      font-size: 14px;
      color: #fff;
    }
  }
}

.header__circle {
  &.active {
    display: block;
  }
  display: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  span {
    font-family: $roboto-regular;
    $base: 18px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    height: $base;
    width: $base;
    border-radius: 50%;
    text-align: center;
    line-height: $base;
    right: -$base / 3;
    top: -$base / 3;
  }
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }
}
.notifycation {
  span {
    background-color: #fcb322;
  }
}
.message {
  span {
    background-color: $tomato;
  }
}
.cart {
  span {
    background-color: $green;
  }
}
.user {
  &__inner {
    display: flex;
    padding-right: 20px;
    position: relative;
    &::before {
      position: absolute;
      content: "\f107";
      font-family: "icomoon";
      font-size: 16px;
      line-height: 24px;
      color: #707070;
      right: 0;
      top: 0;
    }
  }
  &__images {
    width: 34px;
    height: 34px;
    margin-right: 15px;
    margin-left: 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__name {
    font-size: 14px;
    @include f500;
    color: #222;
    line-height: 1.4;
  }
  &__money {
    @include f700;
    color: $green;
    font-size: 14px;
    line-height: 1.4;
  }
}
.user__wrapper {
  position: relative;
  margin-right: 10px;
  // height: 65px;
  &:hover {
    .user__menu {
      border: 0.2px solid #cccccc;
      height: 370px;
      padding: 10px 5px;
    }
  }
}
.user__menu {
  position: absolute;
  top: 62px;
  left: 20px;
  width: 160px;
  height: 0;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  background-color: #fff;
  border: 0;
  box-shadow: 0px 3px 20px 0px rgba(216, 216, 216, 0.75);
  transition: all 0.2s;

  li {
    padding: 11px 0 11px 30px;
    a {
      position: relative;
    }
    .angle-right::before {
      bottom: 1px;
      left: -15px;
    }
  }
}

.circle__wrapper,
.message__wrapper,
.notifycation__wrapper {
  margin-left: 15px;
  position: relative;

  &:hover {
    .header__circle::before {
      color: $bg-primory;
    }
    .circle__menu {
      border: 0.2px solid #cccccc;
      height: auto;
      z-index: 1;
    }
    .circle__menu-item {
      padding: 23px;
      transition: all 0.2s;
    }
  }
}
.circle__menu {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 62px;
  right: -12px;
  background: #fff;
  box-shadow: 0px 3px 20px 0px rgba(216, 216, 216, 0.75);
  transition: all 0.2s;
  &-item {
    display: flex;
    min-width: 270px;
    padding: 0 23px;
    border-bottom: 0.2px solid #cccccc;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      right: 37px;
      top: 33px;
      font-size: 16px;
      color: #b0bec5;
    }
  }
  &-info {
    padding-left: 17px;
    line-height: 1.4;
    &__name {
      @include f500;
      color: $bg-primory;
    }
    &__theme {
      color: $green;
      font-size: 12px;
      font-family: $roboto-regular;
    }
    &__price {
      font-size: 16px;
      @include f500;
      color: #000;
    }
    &__date {
      font-size: 10px;
      line-height: 2;
      color: #707070;
      font-family: $roboto-regular;
    }
  }
}

.cart__summ {
  .cart__title {
    @include f700;
    padding: 23px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.2px;
    color: $bg-primory;
  }
  &-btn {
    text-align: center;
    margin-bottom: 12px;
    .go-btn {
      color: #f4f6f5;
      font-size: 14px;
      @include f700;
      padding: 5px 20px;
      line-height: 1.5;
      margin: 0 2px;
    }
    .go-cart {
      background-color: $green;
    }
    .go-checkout {
      background-color: $red;
    }
  }
}
.notifycation__menu,
.message__menu {
  .circle__menu-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;
  }
  .circle__menu-info__name {
    @include f700;
    font-size: 12px;
    line-height: 2;

    color: $bg-primory;
  }
}

.icons-color::before {
  color: $tomato;
}
.header__btn-menu,
.header__menu {
  display: none;
}
.header__btn-menu {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 25px;
  right: 10px;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: $green;
  }
}

// ======================== Modal ========================
#modal {
  background-color: $green;
  max-width: 729px;
  width: 100%;
  height: 484px;
  padding: 90px 0 100px;
  position: relative;
  .login__title {
    text-align: center;
    font-size: 48px;
    line-height: 36px;
    @include f700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 40px;
  }
  // .fancybox-slide--html.fancybox-close-small {
  //   position: absolute;
  //   top: 25px;
  //   right: 25px;
  //   color: #fff;
  // }
  form {
    max-width: 400px;
    margin: 0 auto;
    .label__user,
    .label__pass {
      position: relative;
      display: block;
      &::before {
        position: absolute;
        color: #fff;
        left: 17px;
        top: 14px;
        font-family: "icomoon";
      }
    }
    .label__user {
      &::before {
        content: "\f007";
      }
    }
    .label__pass {
      &::before {
        content: "\f023";
      }
    }
    input {
      height: 43px;
      margin-bottom: 8px;
      border: none;
      background-color: #76ae36;
      width: 100%;
      color: #fff;
      font-family: $roboto-regular;
      font-size: 14px;
      font-weight: 400;
      display: block;
      padding: 0 10px 0 40px;
      width: 100%;
      &::placeholder {
        color: #fff;
      }
    }
  }
  .modal-btn {
    margin-top: 19px;
    button {
      margin-right: 10px;
      height: 48px;
      width: 140px;
      overflow: hidden;
      padding: 10px;
      background-color: #ffffff;
      box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
      border: none;
      color: #000;
      font-size: 14px;
      line-height: 30px;
      cursor: pointer;
      @include f700;
      text-transform: uppercase;
    }
    .create {
      position: relative;
      display: inline;
      text-align: center;
      width: 250px;
      height: 50px;
      background-color: #76ae36;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      overflow: hidden;
      padding: 13px 31px 15px 66px;
      color: #ffffff;
      font-family: $roboto-regular;
      &::before {
        content: "\f044";
        font-family: "icomoon";
        position: absolute;
        left: 35px;
        top: 10px;
      }
    }
  }
  .lost {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-top: 25px;
  }
}
.fancybox-button svg path{
  color:#fff;
}

// ======================== /Modal ========================

// ======================== Search ========================
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
}
.search__inner {
  color: #ffffff;
  padding: 135px 0 100px;
  text-align: center;
  &-title {
    font-size: 48px;
    line-height: 1.3;
    font-weight: $bold;

    h1 {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      display: inline;
    }
  }
  &-text {
    font-size: 20px;
    line-height: 30px;
    @include f500;
    padding: 21px 0 50px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 56px;
      padding-left: 25px;
      padding-right: 45px;
      background-color: #ffffff;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border: 1px solid transparent;
      border-radius: 0.3em;
      line-height: 30px;
      position: relative;
      @include f500;

      &:focus {
        background-color: darken(#ffffff, 5%);
      }
      &::placeholder {
        letter-spacing: 0.05em;
        color: #90a4ae;
        margin-left: 25px;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      outline: none;
    }
  }
}
// ======================== /Search ========================

// ======================== products ========================

.products {
  padding: 110px 0;
  background: $bg-secondary;
  &__inner {
    &-btn {
      text-align: center;
      margin: 20px 0 50px;
      button {
        padding: 14px 20px;
        font-weight: 600;
        cursor: pointer;

        & + button {
          margin-left: 5px;
        }
      }
    }
  }
}
.mixitup-control-active {
  background-color: $red;
  box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
  color: #fff;
}
.product__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item {
  max-width: 442px;
  width: 100%;
  flex-basis: 25%;
  margin-bottom: 30px;
  & + .product__item {
    margin-bottom: 20px;
  }
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 90px;
    background-color: #ffffff;
    border-bottom: 1px solid #e7ecf2;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

    align-items: center;
  }
  &-name {
    max-width: 310px;
  }
  a {
    display: block;
  }
  &-title {
    font-weight: 600;
    color: $bg-primory;
    font-size: 18px;
    line-height: 24px;
  }
  &-category {
    font-size: 14px;
    line-height: 18px;
    @include f500;
    color: #8bc34a;
  }
  &-price {
    font-size: 20px;
    line-height: 18px;
    @include f700;
    color: #263238;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background: #fff;
    padding: 10px 30px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  }
  &-autor {
    display: flex;
    align-items: center;
    max-width: 245px;
    span {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1em;
    }
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
  }
  &-star {
    font-size: 12px;
    line-height: 2;
    color: #263238;
    span {
      color: $bg-primory;
      font-weight: 600;
    }
  }
}
.products__bottom-btn {
  margin-top: 45px;
  text-align: center;
  button {
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px 30px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
  }
}
// ======================== /products ========================

// ======================== Trend ========================
.product__trend {
  padding: 110px 0 120px;
  .product__item {
    margin: 0 10px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  li {
    &.slick-active {
      button {
        background-color: $green;
      }
    }
    button {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #e8e8e8;
      font-size: 0;
      border-style: solid;
      border-width: 1px;
      border-image-source: linear-gradient(180deg, #acacac 0%, #ffffff 100%);

      cursor: pointer;
      border: none;
      outline: none;
    }
    & + li {
      margin-left: 7px;
    }
  }
}
// ======================== /Trend ========================

// ======================== Adventegue ========================
.adventeges {
  background-color: $bg-primory;
  padding: 100px 0 120px;
}
.adventeges__title {
  color: #fff;
  padding: 20px 0 60px;
}
.adventeges__inner {
  display: flex;
  justify-content: center;
}
.adventeges__item {
  max-width: 320px;
  text-align: center;
  margin: 0 40px;

  &-img {
    height: 113px;
    width: 113px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }
  &-title {
    @include f500;
    font-size: 24px;
    color: #fff;
    line-height: 1.5;
    margin: 30px 0;
    transition: all 0.2s;
  }
  &-text {
    line-height: 24px;
  }
  &:hover {
    .adventeges__item-title {
      color: $green;
    }
    .adventeges__item-img {
      background-color: $green;
    }
  }
}
// ======================== /Adventegue ========================

// ======================== Autor ========================
.autor {
  padding-bottom: 120px;
  &__inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box {
      max-width: 653px;
      width: 100%;
      min-height: 216px;
      background-color: $green;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &-title {
        font-size: 30px;
        line-height: 36px;
        color: #ffffff;
        max-width: 265px;
        span {
          @include f700;
        }
      }
    }
    a {
      font-size: 18px;
      line-height: 1.5;
      background-color: #fff;
      padding: 21px 40px;
    }
  }
  &__title {
    color: $bg-primory;
    padding: 60px 0;
  }
  &__tutorials {
    display: flex;
    justify-content: space-between;
    &-item {
      margin: 0 15px;
      text-align: center;
    }
  }
}

.autor-text {
  padding: 40px 10px;
  @include f700;
  font-size: 24px;
  line-height: 1.5;
  background-color: #f8f8f8;
}

// ======================== /Autor ========================

// ======================== Footer ========================
.footer {
  background-color: $bg-primory;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding: 100px 10px;
  }
}
.footer__item {
  max-width: 267px;
  &-title {
    font-size: 22px;
    line-height: 60px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      width: 51px;
      height: 3px;
      background-color: $green;
      position: absolute;
      bottom: 0;
      left: 2px;
    }
  }
  &-text {
    color: #b7c3c8;
    line-height: 24px;
    margin-top: 0;
  }
  &-adress,
  &-phone {
    padding-left: 30px;
    color: #fff;
    font-size: 14px;
    position: relative;
    &::before {
      content: "\f041";
      @include icon;
      position: absolute;
      left: 0;
    }
  }
  &-adress {
    margin: 30px 0 20px;
  }
  &-phone {
    &::before {
      content: "\f095";
    }
  }
}

.footer__item-nav,
.footer__item-contact {
  a {
    margin-bottom: 11px;
    margin-left: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
    position: relative;
    &:hover {
      color: lighten($bg-primory, 40%);
      border-bottom: 1px solid $green;
    }
  }
}

.footer__item-socials {
  margin-bottom: 33px;
  li {
    display: inline-block;
  }
  a {
    width: 28px;
    height: 28px;

    background-image: url(../images/content/css_sprites.png);
    & + a {
      margin-left: 7px;
    }
  }
  .link-facebook {
    background-position: -56px -0;
  }
  .link-twitter {
    background-position: -28px -28px;
  }
  .link-youtube {
    background-position: -0 -28px;
  }
  .link-prinset {
    background-position: -28px -0;
  }
  .link-in {
    background-position: -0 -0;
  }
}

.footer__form {
  position: relative;
  a {
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 21px;
  }
  input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding-left: 13px;
    padding-right: 50px;
    background-color: #2f3c43;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(180deg, #000000 0%, #263238 100%);
    border-image-slice: 1;
    background-origin: border-box;

    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 55%;
    width: 43px;
    height: 38px;
    background-color: $green;
    border: none;
    cursor: pointer;
    &::before {
      content: "\f124";
      font-family: "icomoon";
      font-size: 20px;
      position: absolute;
      color: #fff;
      left: 30%;
      top: 20%;
    }
  }
}

.footer_copiright {
  border-top: 1px solid #424d53;
  text-align: center;
  margin: 0;
  padding: 30px 0;

  color: #919699;
}
// ======================== /Footer ========================

@import "media";
